@import url('https://fonts.cdnfonts.com/css/futura-std-4');

body{
    font-family: 'Futura Std', sans-serif;
    font-weight: 6000;
    color: #fff;
    background: url(https://img.freepik.com/free-vector/modern-desktop-background-geometric-blue-design-vector_53876-135923.jpg?w=1060&t=st=1711448155~exp=1711448755~hmac=908abfa4379af6bb65fc986a55bf8e7c26276f3913598fdb600567c2fe4850ec) fixed no-repeat center/cover;
}

h1{
    font-size: 76px;
    text-align: center;
    margin-block: 12vh;
}

h2,h4{
    margin: 0px;
}

h4{
    color: #454545;
}

.mainContainer{
    margin-inline: 7vh;
}

.preview{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.currency{
    color: #000;
    height: 12vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #efefef;
    border: 2.5px solid rgba(1,65,253,255);
    border-radius: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-inline: 6vh;
}

.currency img{
    max-width: 50px;
}

.name{
    padding-left: 2vh;
    display: flex;
    flex-direction: column;
}

.price{
    text-align: end;
}

.searchPage{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.searchContainer{
    display: flex;
    flex-direction: column;
    text-align: left; 
    max-width: 80vh;
    padding-inline: 5vh;
    padding-block: 5vh;
    border: 1px transparent;
    border-radius: 2.5vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 5px;
    background-color: #f8f8f8;
}

.searchContainer h3{
    font-size: 36px;
    color: #000;
    text-align: center;
}

.searchContainer input{
    margin-top: 2vh;
    min-height: 2vh;
    border: 1px solid;
    border-radius: 3px;
    padding: 7px;
}